
.myclass1 {
    padding-top: 4.0rem;
}    
.myclass    {
    border-style: solid;
    border-width: 0.5rem;
    border-color: grey;
}
.container-fluid {
    background-color: teal; 
    border-style: solid;
    border-color: teal;
    margin: 0;
}
footer {
    text-align: center;
    color:gray;
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsla(0, 0%, 0%, .45);
    padding: 0.5rem;
    font-size: 0.9rem;  
}